In [ ]:
#
""" comment """"

In [38]:
#float-> int
#string->int
#string->float
#int,float->string

In [40]:
#float-> int
a=90.0
b=int(a)
print(a)
print(b)

90.0
90

In [27]:
#string->int
a="255"
b=int(a)
print(a)
print(b)

255
255

In [31]:
#string->float
a='4545'
b=float(a)
print(a)
print(b)

4545
4545.0

In [36]:
#int,float->string
a=20
b=20.5
c=str(a)
d=str(b)
print(c)
print(d)

20
20.5

In [ ]:
#why do we need the type of conversions 
"To take the input in the form of the string, by default, it takes int value into the string"

In [64]:
#ATM
#Accepet withdraw amount and print number of notes
#500,200,100

ammount=int(input("Enter your amount"))
five=0
two=0
one=0
if ammount%100==0:
    if ammount>=500:
        five=ammount//500
        print("500 rupess notes are",five)
        ammount=ammount-(five*500)
    if ammount>=200:
        two=ammount//200
        print("200 rupess notes are",two)
        ammount=ammount-(two*200)
    if ammount>=100:
        one=ammount//100
        print("100 rupess notes are",one)
else:
        print("Please enter amount in multiple of 100")

Enter your amount 7676

Please enter amount in multiple of 100

In [ ]:
#Task 1
#Accept Basic salary and find gross salary
#gross salary =basic salary+DA+HRA
"" If basic salary is less tah 20000 the
     HRA is 76% and DA is 78% on basic salary
     
   if basic salary is between 20000 to 30000 then
      HRA is 75% and DA is 82% on basic salary

   if basic salary is more than 30000 then 
      HRA is 85% and DA is 89% on Basic salary  ""

In [88]:
basic=int(input("Enter baisc salary"))

if basic<=20000:
    HRA=76
    DA=78
    gross=basic+HRA+DA
    print(gross)
elif basic>=20000 and basic<=30000:
    HRA=75  
    DA=82
    gross=basic+HRA+DA
    print(gross)
elif basic>=30000:
    HRA=85 
    DA=89
    gross=basic+HRA+DA
    print(gross)
else:
    print("error")

Enter baisc salary 20000

In [ ]:
# Task 2
""Accept Employee salary and calculate TDS amount

 if the salary is less than or equal to 500000--0%TDS

 if the salary is between 500000 to 1000000 then
              500000 to 700000--5%
              700000 to  1000000--10%
 if the salary is between 1000000 to 200000 then
               500000 to 700000--5%
               700000 to 100000---10%
               1000000 to 1500000---15%
               1500000 to 2000000--20%
if the salary is more  than 3000000 then
            500000 to 700000--5%
            700000 to 1000000--10%
            1000000 to 1500000--15%
            1500000 to 2000000--20%
             more than 2000000--30%
""

In [99]:
salary=int(input("enter your salary"))
tds=0
if salary<=500000:
    tds=0
elif salary<=1000000:
     if salary >=700000:
         tds=(salary-500000)/100
     elif salary>=1000000:
         td2=td1+(salary*10)/1000
         print("TDS:",td2)
elif salary<=2000000:
     if salary<=500000 and salary>=700000:
         tds1=(salary*5)/100
     elif salary<=700000 and salary>=1000000:
         td2=td1+(salary*10)/100
     elif salary<=1000000 and salary>=1500000:
         td3=tds1+tds2+(salary*15)/100
     elif salary<=1500000 and salary>=2000000:
         td4=td1+td2+td3+(salary*20)/100
         print("TDS:",td4)
elif salary>=3000000:
    if salary<=500000 and salary>=700000:
         tds1=(salary*5)/100
     elif salary<=700000 and salary>=1000000:
         td2=td1+(salary*10)/100
     elif salary<=1000000 and salary>=1500000:
         td3=tds1+tds2+(salary*15)/100
     elif salary<=1500000 and salary>=2000000:
         td4=td1+td2+td3+(salary*20)/100
    elif salary>=2000000:
        td5=td1+td2+td3+td4+(salary*30)/100
        print("TDS:",td5)
else:
    print("error")

IndentationError: unindent does not match any outer indentation level (<string>, line 24)